* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  height: 50px;
  width: 100%;
  background-color: rgb(235, 243, 243);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo a img {
  margin: 5px;
  padding: 5px;
}
.logo a span {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  color: rgb(120, 120, 241);
}

.menuBar {
  display: flex;
  flex-direction: row;
}

.menuItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

li {
  list-style: none;
  font-size: large;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  margin: 15px;
  padding: 8px;
  border-radius: 20px;
  background-color: rgb(214, 214, 231);
}
.banner {
  /* height: 40%;
  width: 100%; */
  display: flex;
  flex-direction: row;
}
.banner-img {
  background-color: cadetblue;
  width: 50%;
}
.banner .banner-img img {
  height: 100%;
  width: 80%;
}

.banner-title {
  width: 50%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .banner-title h1 {
  font-size: 6rem;
}
.footer {
  background-color: rgb(235, 243, 243);
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social .icon a {
  margin: 5px, 50px;
  padding: 2px;
}
.social .icon a img {
  height: 35px;
  width: 35px;
} */
