* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  height: 50px;
  width: 100%;
  background-color: rgb(235, 243, 243);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo a img {
  margin: 5px;
  padding: 5px;
}
.logo a span {
  font-family: "Lobster", cursive;
  font-size: 1.5rem;
  color: rgb(120, 120, 241);
}

.menuBar {
  display: flex;
  flex: row;
}

.menuItems {
  display: flex;
  flex-direction: row;
}

li {
  margin: 5px, 75px;
  padding: 25px;
  list-style: none;
  font-size: large;
}

a {
  text-decoration: none;
  color: black;
}
