* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.navBar {
  height: 50px;
  width: 100%;
  /* background-color: rgb(235, 243, 243); */
  background-image: linear-gradient(
    to right,
    rgb(235, 243, 243),
    rgb(200, 220, 230),
    rgb(165, 197, 217)
  );
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Main logo Starts Here */

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo a img {
  margin: 5px;
  padding: 5px;
}
.logo span {
  font-family: "Oxygen", sans-serif;
  font-weight: bolder;
  font-size: 1.75rem;
  color: rgb(120, 120, 241);
}
.main-title:hover {
  font-size: 1.8rem;
  cursor: pointer;
  color: blueviolet;
}

/* Main logo Ends Here */

/* Menubar Starts Here */

.menuBar {
  display: flex;
  flex-direction: row;
}

.menuItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

li {
  list-style: none;
  font-size: large;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  height: 25px;
  width: 75px;
  margin: 20px;
  padding: 8px 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 1px 1px 8px gray;
  /* background-color: rgb(214, 214, 231); */
}

.menu:hover {
  transform: scale(1.2, 1.2);
  background-color: rgb(214, 214, 231);
  color: blueviolet;

  cursor: pointer;
  box-shadow: 1px 1px 4px gray;
}

a:hover {
  color: blueviolet;
}

/* Menubar Ends Here */

/* Banner Starts Here */

.banner {
  /* height: 40%;
  width: 100%; */
  display: flex;
  flex-direction: row;
  margin: 75px;
  padding: 15px;
}
.banner-img {
  /* background-color: cadetblue; */
  width: 50%;
}
.banner .banner-img img {
  height: 100%;
  width: 80%;
}

.banner-title {
  width: 50%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner .banner-title h1 {
  font-size: 6rem;
}

/* Banner Ends Here */

/* About starts Here */

.about {
  /* height: 40%;
  width: 100%; */
  display: flex;
  flex-direction: row;
  margin: 75px;
  padding: 15px;
}
.about-img {
  /* background-color: cadetblue; */
  width: 50%;
}
.about .about-img img {
  height: 100%;
  width: 100%;
}

.about-title {
  width: 50%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about .about-title h1 {
  font-size: 6rem;
}

/* About Ends Here */

/* Skills Starts Here */

.skills {
  /* height: 40%;
  width: 100%; */
  display: flex;
  flex-direction: row;
  margin: 75px;
  padding: 15px;
}
.skills-img {
  /* background-color: cadetblue; */
  width: 50%;
}
.skills .skills-img img {
  height: 100%;
  width: 100%;
}

.skills-title {
  width: 50%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills .skills-title h1 {
  font-size: 6rem;
}

/* Skills Ends Here */

/* Projects Starts Here */

.projects {
  /* height: 40%;
  width: 100%; */
  display: flex;
  flex-direction: row;
  margin: 75px;
  padding: 15px;
}
.projects-img {
  /* background-color: cadetblue; */
  width: 50%;
}
.projects .projects-img img {
  height: 100%;
  width: 100%;
}

.projects-title {
  width: 50%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects .projects-title h1 {
  font-size: 6rem;
}

/* Projects Ends Here */

/* Services Starts Here */

.services {
  /* height: 40%;
  width: 100%; */
  display: flex;
  flex-direction: row;
  margin: 75px;
  padding: 15px;
}
.services-img {
  /* background-color: cadetblue; */
  width: 50%;
}
.services .services-img img {
  height: 100%;
  width: 100%;
}

.services-title {
  width: 50%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .services-title h1 {
  font-size: 6rem;
}

/* Services Ends Here */

/* Articles Start here */

.articles {
  /* height: 40%;
  width: 100%; */
  display: flex;
  flex-direction: row;
  margin: 75px;
  padding: 15px;
}
.articles-img {
  /* background-color: cadetblue; */
  width: 50%;
}
.articles .articles-img img {
  height: 100%;
  width: 100%;
}

.articles-title {
  width: 50%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles .articles-title h1 {
  font-size: 6rem;
}

/* Articles Ends here */

/* Footer Starts Here */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(235, 243, 243); */
  background-image: linear-gradient(
    to right,
    rgb(235, 243, 243),
    rgb(200, 220, 230),
    rgb(165, 197, 217)
  );
  height: 350px;
  width: 100%;
}
.vertical {
  margin: 10px;
  padding: 10px;
  border-left: 1.5px solid black;
  height: 200px;
  position: absolute;
  /* left: 50%; */
}

.footer .footer-elements {
  /* background-color: darkorange; */
  margin: 55px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-elements .footer-about {
  /* background-color: darkkhaki; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}
.footer .footer-elements .footer-gadgets {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}
.footer .footer-elements .footer-gadgets .footer-clock {
  /* background-color: blueviolet; */
  margin: 15px 15px;
  padding: 15px;
}
.footer .footer-elements .footer-gadgets .footer-visiterCount {
  /* background-color: blanchedalmond; */
  margin: 15px 15px;
  padding: 15px;
}
.footer .footer-elements .footer-menubar {
  /* background-color: coral; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.footer .footer-elements .footer-menubar .footer-menus .footer-menuItems {
  /* background-color: cyan; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 35px;
}

/* Footer Ends Here */

/* .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social .icon a {
  margin: 5px, 50px;
  padding: 2px;
}
.social .icon a img {
  height: 35px;
  width: 35px;
} */
